.about-us .container{
    height: fit-content;
    font-weight: bolder;
    font-size: 20px;
    text-align: justify;
    padding: 5%;
    line-height: 35px
}
/* Utilisez une media query pour les appareils mobiles */
@media screen and (max-width: 480px) {
    .about-us .container{
        line-height: 24px;
        font-size: 14px!important;
        margin-top: 24px;
    }
}