/* STATIC ELEMENT STYLE*/
div.first_bloc_nav .MuiSelect-icon.MuiSvgIcon-root {
    color: var(--standard);
}
div.first_bloc_nav fieldset.MuiOutlinedInput-notchedOutline{
    border: none;
    outline: none;
}
/*********************************** FIRST NAVBAR *****************************************88*/
/* Styles for the parent container */
div.first_bloc_nav {
    width: 90%;
    display: flex;
    margin: 0 auto;
    height: 50px;
    /*background-color: var(--secondary);*/
}

/* Shared styles for child elements */
.flex-one,
.flex-two {
    width: 50%;
    color: var(--standard);
    padding: 0 5%;
}

/* Styles for the first child (.flex-one) */
.first_bloc_nav .flex-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Skewed background effect on .flex-one */
.first_bloc_nav .flex-one::before {
    content: "";
    z-index: -1; /* Move the pseudo-element behind the parent content */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--primary);
    transform: skewX(-30deg); /* Inclinaison du côté droit de 30 degrés (négatif pour l'inclinaison vers la droite) */
    transform-origin: top right; /* Point d'origine de la transformation */
}

/* Styles for the second child (.flex-two) */
.first_bloc_nav .flex-two {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--secondary);
    position: relative;
    overflow: hidden;
}

/* Skewed background effect on .flex-one */
.first_bloc_nav .flex-two::before {
    content: "";
    z-index: -1; /* Move the pseudo-element behind the parent content */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--primary);
    transform: skewX(-30deg); /* Inclinaison du côté droit de 30 degrés (négatif pour l'inclinaison vers la droite) */
    transform-origin: bottom right; /* Point d'origine de la transformation */
}

/* Shared styles for sub-elements within .flex-one and .flex-two */
.flex-one .sub-flex-one,
.flex-one .sub-flex-two,
.flex-two .sub-flex {
    display: flex;
    align-items: center;
    font-weight: bolder;
}


/*********************************** SECOND NAVBAR *****************************************88*/
/* Styles for the parent container */
div.second_bloc_nav {
    width: 85%;
    display: flex;
    margin: 0 auto;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    /*position: sticky;*/
    top: 0;
    left: auto;
    right: auto;
    /*z-index: 100;*/
}

.second_bloc_nav .links{
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.links .link a{
    padding: 16px;
    cursor: pointer;
    font-size: 18px;
    opacity: .25;
    text-decoration: none;
    color: var(--dark);
    transition: all .75s ease-out;
}
.links .link.active a, .links .link:hover a{
    opacity: .75;
}
.links .login-btn{
    padding: 8px;
    border-radius: 20px;
    background-color: var(--primary);
    color: var(--standard);
}

