navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
/* STATIC ELEMENT STYLE*/
div.first_bloc_nav .MuiSelect-icon.MuiSvgIcon-root {
    color: var(--standard);
}
div.first_bloc_nav fieldset.MuiOutlinedInput-notchedOutline{
    border: none;
    outline: none;
}
/*********************************** FIRST NAVBAR *****************************************88*/
/* Styles for the parent container */
div.first_bloc_nav {
    height: 50px;
    background-color: var(--secondary);
}
div.first_bloc_nav .wrapper-first-nav{
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
div.second_bloc_nav .wrapper-second-nav{
    width: 85%;
    margin: 0 auto;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: var(--standard);
}
/* Shared styles for child elements */
.flex-one,
.flex-two {
    width: 50%;
    color: var(--standard);
}

/* Styles for the first child (.flex-one) */
.first_bloc_nav .flex-one {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: var(--primary);
    height: 100%;
    clip-path: polygon(0 1%, 100% 0%, 93% 100%, 0% 100%);
    justify-content: space-between;
    padding: 0 10%;
}

/* Styles for the second child (.flex-two) */
.first_bloc_nav .flex-two {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--secondary);
    position: relative;
    overflow: hidden;
    padding-right: 7.5%;
}
/* Shared styles for sub-elements within .flex-one and .flex-two */
.flex-one .sub-flex-one,
.flex-one .sub-flex-two,
.flex-two .sub-flex {
    display: flex;
    align-items: center;
    font-weight: bolder;
}


/*********************************** SECOND NAVBAR *****************************************88*/
/* Styles for the parent container */
div.second_bloc_nav {
    width: 100%;
    height: 75px;
    background-color: white;
    box-shadow: 0 1px 2px lightgray;
}
.second_bloc_nav .links{
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.links .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: var(--primary);
}
.links .login-btn{
    padding: 8px 24px;
    border-radius: 20px;
    background-color: var(--primary);
    color: var(--standard);
    transition: all .5s ease-out;
}
.links .login-btn:hover{
    background-color: var(--standard);
    color:  var(--primary);
    border: 1px solid var(--primary);
}
.logo{
    height: 100%;
}
.contacts, .contacts .contacts-icon{
    cursor: pointer;
    transition: all .5s ease;
}
.contacts:hover, .contacts:hover .contacts-icon{
    text-decoration: underline;
    color: #0080ff;
}
.links-burger {
    display: none;
}
.over-lap{
    min-height: 100vh;
    position: relative;
    width: 100%!important;
}
.over-lap button.btn-close{
    position: absolute;
    right: 10px!important;
    top: 10px!important;
    z-index: 2!important;
    margin: 0!important;
}
.flex-one .popper-contact, .dial-pad{
    display: none!important;
}
@media screen and (max-width: 480px) {
    .logo{
        height: 35px!important;
    }
    .sub-flex_{
        display: none!important;
    }
    .links{
        display: none!important;
    }
    .links-burger{
        display: block;
    }
    .links-burger button{
        display: flex;
        font-size: 40px;
        opacity: .50;
        cursor: pointer;
    }
    .links-burger button:hover{
        opacity: 1;
    }
    .over-lap .login-btn{
        padding: 8px 24px;
        border-radius: 20px;
        background-color: var(--primary);
        color: var(--standard);
        transition: all .5s ease-out;
        margin: 24px 0 0 16px;
    }
    .over-lap .login-btn:hover{
        background-color: var(--standard);
        color:  var(--primary);
        border: 1px solid var(--primary);
    }
    .over-lap a{
        color: var(--dark);
        text-decoration: none;
    }
    .flex-one .popper-contact, .dial-pad{
        display: block!important;
    }
    /*li div.MuiListItemButton-root{*/
    /*    text-align: center!important;*/
    /*}*/
    .sub-flex-one, .sub-flex-two{
        padding: 8px!important;
    }
}