.our-contact .container{
    height: fit-content;
    padding: 5%;
}
.our-contact .container p{
    text-align: center;
    font-weight: bolder;
    line-height: 40px;
    color: white;
    /*font-size: 18px;*/
}
.our-contact .container a{
    color: white;
    margin: 0 8px;
    transform: scale(1.25);
    transition: transform .5s ease;
}
.our-contact .container a:hover{
    transform: scale(.95);
}
@media screen and (max-width: 480px) {
    .our-contact .container{
        margin-top: 24px!important;
    }
    .our-contact .container p{
        font-size: 12px !important;
        line-height: 32px;
    }
}