.our-partner .container p{
    text-align: center;
    font-weight: bolder;
    line-height: 75px;
    /*font-size: 18px;*/
}
.Box-slider{
    background-color: var(--standard);
    color: var(--dark);
    padding-top: 0!important;
}

.our-partner .slick-list{
    width: 100%;
    margin: 0 auto;
}
.our-partner  .slick-list, .slick-track, .our-partner  .slick-slide img{
    height: 275px;
}
.our-partner  .slick-slide, .our-partner  .slick-slide img{
    width: 250px!important;
}
.our-partner  .slick-slide div, .our-partner  .slick-slide img{
    height: 100%;
}
.our-partner  .slick-slide img{
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.our-partner  .slick-slide img:hover{
    transform: scale(.95);
}
/* Utilisez une media query pour les appareils mobiles */
@media screen and (max-width: 480px) {
    .our-partner .container p{
        line-height: 40px;
        font-size: 14px!important;
        margin-top: 18px;
    }
}