.our-testimony .container{
    position: relative;
    /*z-index: -1;*/
}
.swiper.swiper-initialized{
    padding: 32px 0;
    width: 90%;
    margin: 0 auto;
}
.popular-features .swiper-wrapper{
    padding-top: 16PX;
}
.Box-slider{
    background-color: var(--standard);
    color: var(--dark);
    overflow: hidden;
    padding-top: 50px;
}
.wrapper-testimony{
    position: relative;
}
/* Styles pour les boutons de navigation personnalisés */
.custom-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.custom-button {
    background-color: var(--standard);
    color: var(--dark);
    width: 40px!important;
    height: 40px!important;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 2px 0 10px lightgray;
    transition: background-color 0.5s ease-out;
}

.custom-button:hover {
    transition: background-color 0.5s ease-out;
    background-color: lightgray;
}

.custom-prev {
    float: left;
}

.custom-next {
    float: right;
}
.our-testimony p.notice{
    color: var(--standard);
    display: inline;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 10px;
    right: 5%;
    font-weight: bolder;
    font-size: 24px;
}
.our-testimony  .slick-track{
    display: flex;
    height: fit-content;
}

.our-testimony .slick-initialized .slick-slide {
    margin: 12px;
}
.card-testimony p{
    padding: 24px;
    /*text-align: justify;*/

}
/* Utilisez une media query pour les appareils mobiles */
@media screen and (max-width: 480px) {
    .our-testimony .swiper-slide{
        font-size: 14px!important;
        width: 100%!important;
    }
    .our-testimony .custom-navigation{
        z-index: 2;
    }
    .our-testimony .wrapper-testimony{
        margin-top: 24px!important;
    }
}
