.reset-password h2{
    font-family: 'Rammetto One', cursive!important;
    font-size: 32px;
}
.reset-password .MuiFormControl-root.MuiFormControl-fullWidth,
.reset-password .MuiFormControl-root.MuiTextField-root{
    height: 50px!important;
}
.reset-password button[type="submit"]{
    height: 40px!important;
}
.reset-password .MuiInputBase-root.MuiOutlinedInput-root{
    height: 100%;
}
.reset-password .MuiFormControl-root.MuiTextField-root{
    width: 100%;
}
.reset-password .MuiInputBase-root.MuiOutlinedInput-root{
    height: 100%;
}
.reset-password .MuiFormControl-root.MuiTextField-root{
    width: 100%;
}
.reset-password button[type="submit"]{
    text-transform: initial!important;
    color: var(--dark);
    font-size: 16px;
}
.reset-password p.css-k4qjio-MuiFormHelperText-root.Mui-error{
    font-size: 12px!important;
    line-height: 75PX;
}
.reset-password .MuiPaper-root.MuiPaper-elevation{
    padding: 32px;
    border-radius: 32PX;
}
@media screen and (max-width: 480px) {
    .reset-password .MuiPaper-root.MuiPaper-elevation{
        margin: 24px 0;
        box-shadow: none;
        padding: 16px 0!important;
    }
    .reset-password h2{
        font-size: 24px;
    }
    .reset-password p{
        font-size: 14px!important;
        line-height: 24px!important;
        padding: 32px 0;
    }
}