:root{
  --primary: #FCA205;
  --secondary: #929292;
  --standard: #fefefe;
  --dark:#000;
  --danger: #9d1010;
  --success: #059605;
}

*, body {
  margin: 0;
  font-family: 'Comfortaa', cursive!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ps__rail-y{
  display: none!important;
}